[submodule "bundle/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/ack.vim"]
	path = pack/plugins/opt/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bbye"]
	path = pack/plugins/start/bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "bundle/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-argwrap"]
	path = pack/plugins/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule "bundle/ListToggle"]
	path = pack/plugins/start/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule "bundle/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/omnisharp-vim"]
	path = pack/plugins/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/tcomment_vim"]
	path = pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-interestingwords"]
	path = pack/plugins/start/vim-interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule "bundle/fzf"]
	path = pack/plugins/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/fzf.vim"]
	path = pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/vim-polyglot"]
	path = pack/plugins/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/plugins/start/sonokai"]
	path = pack/plugins/start/sonokai
	url = https://github.com/sainnhe/sonokai.git
[submodule "pack/plugins/opt/nvim-treesitter"]
	path = pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/opt/fzf-lua"]
	path = pack/plugins/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "pack/plugins/opt/toggleterm.nvim"]
	path = pack/plugins/opt/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim.git
[submodule "pack/plugins/opt/nvim-web-devicons"]
	path = pack/plugins/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/plugins/start/vim-devicons"]
	path = pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/plugins/opt/lsp_signature.nvim"]
	path = pack/plugins/opt/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim.git
[submodule "pack/plugins/opt/multiple-cursors.nvim"]
	path = pack/plugins/opt/multiple-cursors.nvim
	url = https://github.com/brenton-leighton/multiple-cursors.nvim.git
